.App {
  text-align: center;
  padding: 73px 0;
}
.App a {
  font-size: 1.5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.images {
  display: flex;
  overflow-x: scroll;
}
.frameSet {
  margin: 30px 14px;
}
.frame {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 137px;
}
.frame:first-child {
  margin-bottom: 30px;
}
.text {
  display: flex;
  color: #fff;
  justify-content: center;
  padding-top: 35px;
}